PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/project-collaboration
JWT_ACCESS_SECRET=super-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECRET=super-cookie-secret